@{
    ViewBag.Title = "Add Video";
    ViewBag.RequireJsMain = "app/videos/add";
}

<div id="video-add" class="row">
    <div class="col-md-8 col-md-push-2">
        <h2>Add Video</h2>
        
        <uimessages></uimessages>
        
        <p class="alert alert-success" style="display: none" data-bind="visible: viewVideoUrl()">
            Your video has successfully been added.  <a class="alert-link" data-bind="attr: { href: viewVideoUrl }">Click here</a> to view it.
        </p>
        
        <form role="form" data-bind="submit: addVideo, visible: !viewVideoUrl()">
            <div class="form-group">
                <label for="addvideo-name">Name</label>
                <input type="text" id="addvideo-name" class="form-control" placeholder="Video name" data-bind="value: name" />
            </div>
            <div class="form-group">
                <label for="addvideo-description">Description</label>
                <textarea class="form-control" rows="3" data-bind="value: description" placeholder="Video description"></textarea>
            </div>
            <div class="row">
                <div class="col-md-7 form-group">
                    <label for="addvideo-tags">Tags</label>
                    <input type="text" id="addvideo-tags" class="form-control" placeholder="Enter tags seperated by comma (',')" data-bind="value: tags" />
                </div>
                <div class="col-md-5 form-group">
                    <label for="addvideo-type">Source</label>
                    <select class="form-control" data-bind="options: availableSources, optionsText: 'label', optionsCaption: 'Choose a source...', value: selectedSource"></select>
                </div>
            </div>
            <!-- ko if: selectedSource -->
            <div data-bind="component: { name: selectedSource().component, params: { selectedSourceModel: selectedSourceModel } }">
            </div>
            <!-- /ko -->
            
            <button type="submit" class="btn btn-primary" data-bind="disable: saving">
                <i class="fa fa-cog fa-spin" style="display: none" data-bind="visible: saving"></i> Add Video
            </button>
        </form>
    </div>
</div>