<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Turn off caching of HTML templates (probably want to make this conditional for production) -->
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
