<div class="form-group">
    <label for="addvideo-youtubeurl">YouTube URL</label>
    <div class="input-group" data-bind="validationOptions: { insertMessages: false }">
        <input type="url" id="addvideo-youtubeurl" class="form-control" placeholder="Enter the URL for the video on YouTube (i.e. http://www.youtube.com/watch?v=XXXXXXXX)"
               data-bind="value: youTubeUrl, disable: selectedYouTubeVideoId, event: { keypress: setSelectionOnEnter }" />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" data-bind="click: setSelection, visible: !selectedYouTubeVideoId(), disable: saving">Get it</button>
            <button class="btn btn-default" type="button" data-bind="click: clearSelection, visible: selectedYouTubeVideoId, disable: saving"><i class="fa fa-close"></i></button>
        </span>
    </div>
    <span class="validationMessage" data-bind="validationMessage: youTubeUrl"></span>
</div>
<div class="form-group" data-bind="if: selectedYouTubeVideoId">
    <label>Preview Image</label>
    <img class="img-responsive" data-bind="attr: { src: youTubePreviewImageUrl }" />
</div>