@{
    ViewBag.Title = "Add Sample Data";
    ViewBag.RequireJsMain = "app/sampledata/index";
}

<div id="sampledata-add">
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            <h3><em>Add</em> Sample Data</h3>
            
            <p class="alert alert-info">
                The KillrVideo Sample Data service runs in the background and will add sample data to the site automatically on a schedule. If you 
                want to manually add sample data to the site, use the form below.
            </p>
            <p class="alert alert-success" data-bind="visible: dataAdded">
                Sample data successfully added.
            </p>

            <uimessages></uimessages>

            <form data-bind="submit: addSampleData">
                <div class="form-group">
                    <label for="sampledata-add-datatype">Sample Data Type</label>
                    <select id="sampledata-add-datatype" class="form-control" data-bind="bootstrapSelect: { style: 'btn-inverse' }, value: selectedSampleDataType, disable: saving">
                        <option value="users" data-content="<i class='fa fa-users fa-fw'></i> Users">Users</option>
                        <option value="youtube" data-content="<i class='fa fa-youtube fa-fw'></i> YouTube Videos">YouTube Videos</option>
                        <option value="comments" data-content="<i class='fa fa-comments fa-fw'></i> Comments">Comments</option>
                        <option value="videoratings" data-content="<i class='fa fa-star fa-fw'></i> Video Ratings">Video Ratings</option>
                        <option value="videoviews" data-content="<i class='fa fa-eye fa-fw'></i> Video Views">Video Views</option>
                    </select>
                </div>
                
                <!-- ko if: selectedSampleDataType -->
                
                <div data-bind="template: { name: selectedSampleDataType, data: selectedSampleDataTypeModel }"></div>
                
                <button type="submit" class="btn btn-primary" data-bind="disable: saving()">
                    <i class="fa fa-cog fa-spin" style="display: none" data-bind="visible: saving"></i> Add <span data-bind="text: selectedSampleDataTypeModel().dataTypeLabel"></span>
                </button>
                <!-- /ko -->
                
            </form>
        </div>
    </div>
</div>

<script type="text/html" id="users">
    <div class="form-group">
        <label for="sampledata-add-users">Number of Users</label>
        <input id="sampledata-add-users" type="text" pattern="\d*" class="form-control" data-bind="value: numberOfUsers"/>
    </div>
</script>

<script type="text/html" id="youtube">
    <div class="form-group">
        <label for="sampledata-add-youtube">Number of YouTube Videos</label>
        <input id="sampledata-add-youtube" type="text" pattern="\d*" class="form-control" data-bind="value: numberOfVideos" />
    </div>
</script>

<script type="text/html" id="comments">
    <div class="form-group">
        <label for="sampledata-add-comments">Number of Comments</label>
        <input id="sampledata-add-comments" type="text" pattern="\d*" class="form-control" data-bind="value: numberOfComments" />
    </div>
</script>

<script type="text/html" id="videoratings">
    <div class="form-group">
        <label for="sampledata-add-videoratings">Number of Video Ratings</label>
        <input id="sampledata-add-videoratings" type="text" pattern="\d*" class="form-control" data-bind="value: numberOfRatings" />
    </div>
</script>

<script type="text/html" id="videoviews">
    <div class="form-group">
        <label for="sampledata-add-videoviews">Number of Video Views</label>
        <input id="sampledata-add-videoviews" type="text" pattern="\d*" class="form-control" data-bind="value: numberOfViews" />
    </div>
</script>