/* Typography overrides */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans", Calibri, Candara, Arial, sans-serif;
}

/* Common styles */
.body-content {
    padding: 70px 0;
}

h1.section-divider, h2.section-divider, h3.section-divider,
.h1.section-divider, .h2.section-divider, .h3.section-divider {
    border-top: 1px solid #dedede;
    text-transform: uppercase;
    margin-top: 31.5px;
    margin-bottom: 0;
}

    h1.section-divider > span, h2.section-divider > span, h3.section-divider > span,
    .h1.section-divider > span, .h2.section-divider > span, .h3.section-divider > span {
        position: relative;
        top: -0.6em;
        background-color: #FFF;
        margin: 0 0 0 0.5em;
        padding: 0 0.25em;
    }

        h1.section-divider > span > em, h2.section-divider > span > em, h3.section-divider > span > em,
        .h1.section-divider > span > em, .h2.section-divider > span > em, .h3.section-divider > span > em {
            color: #da3610;
            font-style: normal;
        }


/* Validation Messages */
ul.uimessage {
    list-style-type: none;
    padding: 0;
    margin: 0 0 10px 0;
}

ul.uimessage > li, p.uimessage {
    padding: 1em;
}

.validationMessage {
    color: #A94442;
}

/* Main Navbar */
#navbar-main {
    border-bottom: none;
}

#navbar-main > .container .navbar-brand {
    padding: 12px 15px 0 0;
}

#navbar-main form {
    margin: 0;
}

#navbar-main form > .input-group > .form-control,
#navbar-main form > .input-group > .input-group-btn,
#navbar-main form > .input-group > .input-group-btn > button {
    background-color: #444;
    border: none;
    color: #888;
    height: 50px;
}

#navbar-main form > .input-group > .form-control {
    padding-left: 5px;
    padding-right: 5px;
}

#navbar-main ul.navbar-nav {
    border-right: 1px solid #333;
}

#navbar-main ul.navbar-nav > li {
    border-left: 1px solid #333;
}

    #navbar-main ul.navbar-nav > li > a {
        color: #888;
    }

        #navbar-main ul.navbar-nav > li > a.bg-success {
            color: #222;
        }

            #navbar-main ul.navbar-nav > li > a.bg-success:hover {
                background-color: #2f8912;
            }

            /* Gravatar for logged in users */
            #navbar-main ul.navbar-nav > li > a > img {
                width: 24px;
                height: auto;
                margin-top: -6px;
            }

/* Footer */
footer {
    border-top: 1px solid #EFEFEF;
    background-color: #333;
    color: #FFF;
}

#footer-main {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer h4 {
    font-weight: bold;
    color: #428BCA;
}

#copyright {
    color: #333;
    background-color: #CCC;
    padding: 20px 0;
}

/* This will push the footer to the bottom on non-mobile devices */
@media (min-width: 992px) {
    html, body {
        height: 100%;
    }

    #body-wrapper {
        min-height: 100%;
        margin-bottom: -360px;
    }

    #push-footer {
        height: 360px;
    }

    footer {
        height: 360px;
    }
}

/* Video Previews */
.video-preview {
    margin-bottom: 1.1em;
}

.video-preview h4 {
    display: block;
    height: 2.2em;      /* Matches line-height of 1.1em * 2 */
    overflow: hidden;
}

.video-preview img {
    width: 100%;
    height: auto;
}

/* Video ratings and tags when viewing videos */
#view-video-rating, #view-video-tags {
    font-size: 18px;
}

#view-video-rating .label, #view-video-tags .label {
    font-weight: normal;
}

.video-rating span.star {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
}

.video-rating.video-rating-enabled span.star {
    cursor: pointer;
}

.video-rating span.star:before {
    color: #999;
    content: "\f006";
    padding-right: 5px;
}

.video-rating span.star.filled:before {
    content: "\f005";
}

.video-rating span.star.highlighted:before {
    content: "\f005";
    color: #e3cf7a;
}

/* Video comments */
.video-comments {
}

.video-comments > li {
    margin-left: 100px;
    padding: 1em 0;
}

.video-comments > li > div {
    margin-left: -100px;
}

.video-comments > li > div img {
    display: block;
}

/* User comments */
.user-comments > li {
    margin-left: 120px;
    margin-bottom: 20px;
}

.user-comments > li > div {
    margin-left: -120px;
}

.user-comments > li > div img {
    width: 100px;
    height: auto;
}

/* Styles to make file inputs use Bootstrap */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
