@{
    ViewBag.Title = "Register for an account";
    ViewBag.ShowRegister = false;
    ViewBag.RequireJsMain = "app/account/register";
}

<div class="row" id="register-account">
    <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>

        <p class="alert alert-info" data-bind="visible: !registeredUserId()">
            Register for an account to upload and comment on videos.
        </p>
        
        <uimessages params="queues: registerUrl"></uimessages>
        
        <p class="alert alert-success" style="display: none" data-bind="visible: registeredUserId()">
            Your account has been created successfully.  <a class="alert-link" href="/">Click here</a> to return to the home page.
        </p>

        <form role="form" data-bind="submit: registerUser, visible: !registeredUserId()">
            <div class="row">
                <div class="col-md-5 form-group">
                    <label for="register-firstname">First name</label>
                    <input type="text" class="form-control" id="register-firstname" placeholder="First name" data-bind="value: firstName" />
                </div>
                <div class="col-md-7 form-group">
                    <label for="register-lastname">Last name</label>
                    <input type="text" class="form-control" id="register-lastname" placeholder="Last name" data-bind="value: lastName" />
                </div>
            </div>
            <div class="form-group">
                <label for="register-email">Email address</label>
                <input type="email" class="form-control" id="register-email" placeholder="Enter your email address" data-bind="value: emailAddress" />
            </div>
            <div class="form-group">
                <label for="register-password">Password</label>
                <input type="password" class="form-control" id="register-password" placeholder="Choose a password" data-bind="value: password" />
            </div>
            <div class="form-group">
                <label for="register-confirmpassword">Retype password</label>
                <input type="password" class="form-control" id="register-confirmpassword" placeholder="Retype your password" data-bind="value: confirmPassword" />
            </div>

            <button type="submit" class="btn btn-primary" data-bind="disable: saving">
                <i class="fa fa-cog fa-spin" style="display: none" data-bind="visible: saving"></i> Register
            </button>
        </form>
    </div>
</div>