@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default" id="signin-account">
            <div class="panel-heading">
                <h2 class="panel-title">Sign In</h2>
            </div>

            <div class="panel-body">
                <p class="alert alert-info">
                    If you've already got an account, sign in with your username and password below.
                </p>
                
                <uimessages params="queues: signInUrl"></uimessages>
                
                <form role="form" data-bind="submit: signIn">
                    <div class="form-group">
                        <label for="signin-email">Email address</label>
                        <input type="email" class="form-control" id="signin-email" placeholder="Enter email address" data-bind="value: emailAddress" />
                    </div>
                    <div class="form-group">
                        <label for="signin-password">Password</label>
                        <input type="password" class="form-control" id="signin-password" placeholder="Password" data-bind="value: password" />
                    </div>

                    <button type="submit" class="btn btn-primary" data-bind="disable: inProgress">
                        <i class="fa fa-cog fa-spin" style="display: none" data-bind="visible: inProgress"></i> Sign In
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>