<div>
    <p class="alert alert-info hidden" data-bind="css: { hidden: !isInProgress() }">
        Your video upload is currently <strong data-bind="text: status"></strong> as of <strong data-bind="text: statusDateFormatted"></strong>.  This
        status will refresh automatically when there are any changes.
    </p>
    <p class="alert alert-success hidden" data-bind="css: { hidden: !isComplete() }">
        Your uploaded video was successfully processed.  <a href="javascript:location.reload(true);">Click here</a> to refresh
        the page and view your video.
    </p>
    <p class="alert alert-danger hidden" data-bind="css: { hidden: !isErrored() }">
        There was a problem processing your uploaded video.  Please try uploading the video again.
    </p>
</div>
