<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="user.config">
    <add key="CassandraHosts" value="127.0.0.1" />
    <add key="YouTube.ApiKey" value="" />
    <add key="Grpc.Host" value="localhost" />
    <add key="Grpc.Port" value="50000" />
    <add key="UserManagement.UseLinq" value="false" />
    <add key="Search.UseDse" value="false" />
    <add key="SuggestedVideos.UseDse" value="false" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
