<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Use this key to override the location of your C* instance if not running on 127.0.0.1 -->
  <add key="CassandraClusterLocation" value="127.0.0.1"/>

  <!-- These should be overridden to use your Azure keys if trying upload capabilities -->
  
  <!-- Your Azure Media Services account information -->
  <add key="AzureMediaServicesAccountName" value="" />
  <add key="AzureMediaServicesAccountKey" value="" />
  
  <!-- 
    The storage connection string for the storage account used by your Azure Media Services account.  Will look like:
        DefaultEndpointsProtocol=https;AccountName={0};AccountKey={1}
  -->
  <add key="AzureStorageConnectionString" value="" />
</appSettings>