<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Set this key to point at your local Cassandra instance -->
  <!-- <add key="CassandraHosts" value="127.0.0.1"/> -->
  
  <!-- Use these keys to override where the Grpc Services server listens -->
  <!-- <add key="ServicesHost" value="localhost" /> -->
  <!-- <add key="ServicesPort" value="50000" /> -->
  
  <!-- Use this key to enable the LINQ user management service implementation instead of the regular one -->
  <!-- <add key="UserManagement.UseLinq" value="false" /> -->
  
  <!-- Use this key if you are running DSE Search and want to enable it for the Search service -->
  <!-- <add key="Search.UseDse" value="false" /> -->
  
  <!-- Use this key if you have DSE Search and Spark and want to use it for the Suggested Videos service -->
  <!-- <add key="SuggestedVideos.UseDse" value="false" /> -->
</appSettings>