<div class="video-preview-list">
    <!-- Loading Icon -->
    <div class="video-preview-list-loading" data-bind="visible: isLoading, css: { 'overlay': videos().length > 0 }">
        <h4>
            <i class="fa fa-spinner fa-spin"></i> Loading...
        </h4>
    </div>
    
    <ul class="list-unstyled">
        <!-- ko foreach: (new Array(pageSize)) -->
        <li data-bind="if: $index() < $parent.videos().length, css: { 'popout-on-hover': $index() < $parent.videos().length }">
            <!-- ko with: $parent.videos()[$index()] -->
            <video-preview params="data: $rawData"></video-preview>

            <!-- Shim for holding the width of the li when the video preview is "popped out" on hover in larger viewports -->
            <div class="hidden-xs video-preview-shim"></div>
            <!-- /ko -->
        </li>
        <!-- /ko -->
        
        <!-- ko if: nextPageAvailable -->
        <li class="hidden-xs" data-bind="with: firstVideoOfNextPage">
            <video-preview params="data: $data"></video-preview>
            <div class="video-preview-list-nextpageoverlay" data-bind="click: $parent.nextPage">
                <i class="fa fa-chevron-circle-right fa-4x"></i>
            </div>
        </li>
        <!-- /ko -->
    </ul>
    
    <div class="video-preview-list-nav">
        <button type="button" class="btn btn-primary" title="Next Page" data-bind="enable: nextPageAvailable, click: nextPage">
            <i class="fa fa-caret-down fa-lg visible-xs-inline"></i>
            <i class="fa fa-caret-right fa-lg hidden-xs"></i>
        </button>
        <button type="button" class="btn btn-default" title="Previous Page" data-bind="enable: previousPageAvailable, click: previousPage">
            <i class="fa fa-caret-up fa-lg visible-xs-inline"></i>
            <i class="fa fa-caret-left fa-lg hidden-xs"></i>
        </button>
    </div>
</div>