@model KillrVideo.Models.Search.ShowSearchResultsViewModel

@{
    ViewBag.Title = string.Format("Search Results for '{0}'", Model.Tag);
    ViewBag.RequireJsMain = "app/search/results";
}

@if (string.IsNullOrWhiteSpace(Model.Tag))
{
    <h2>No search term entered</h2>
    <p class="alert alert-warning">
        Enter a tag to search for in the search box to get results.
    </p>
}
else
{
    <input type="hidden" id="tag-searched-for" value="@Model.Tag"/>
    
    <h2>Search Results for '@Model.Tag'</h2>
    <div id="search-results" data-bind="with: searchResultsList">
        <h4 data-bind="visible: isLoading">
            <i class="fa fa-spinner fa-spin"></i> Searching...
        </h4>
        
        <div class="row" data-bind="visible: !isLoading(), foreach: { data: videos, as: 'videopreview' }">
            <div class="col-md-3">
                <div class="video-preview">
                    <h4 data-bind="text: videopreview.name"></h4>
                    <a data-bind="attr: { href: videopreview.videoUrl }">
                        <img data-bind="attr: { src: videopreview.videoPreviewImageUrl }" />
                    </a>
                </div>
            </div>
        </div>
        
        <p class="alert alert-info" data-bind="visible: !isLoading() && videos().length === 0">
            There are currently no videos for the tag <strong>@Model.Tag</strong>.  Why don't you <a class="alert-link" href="@Url.Action("Add", "Videos")">add one</a>?
        </p>
        
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-default navbar-btn" data-bind="visible: previousPageAvailable, click: previousPage">
                    <i class="fa fa-chevron-circle-left"></i> Previous Page
                </button>
            </div>
            <div class="col-md-6 text-right">
                <button type="button" class="btn btn-default navbar-btn" data-bind="visible: nextPageAvailable, click: nextPage">
                    Next Page <i class="fa fa-chevron-circle-right"></i>
                </button>
            </div>
        </div>
    </div>
}