<div class="video-preview" data-bind="click: doClick">
    <div data-bind="style: { backgroundImage: 'url(\'' + videoPreviewImageUrl + '\')' }" class="video-preview-image">
    </div>

    <div class="video-preview-info">
        <h6 data-bind="text:name"></h6>
        
        <div>
            by <span data-bind="text: authorName"></span>
        </div>
        <div>
            <span data-bind="text: views"></span> views <strong>&#8226;</strong> <span data-bind="text: addedAgo"></span>
        </div>
    </div>

    <div class="clearfix visible-xs-block"></div>
</div>