<div class="video-preview" data-bind="click: doClick">
    <div data-bind="style: { backgroundImage: 'url(\'' + videoPreviewImageUrl + '\')' }" class="video-preview-image">
    </div>

    <div class="video-preview-info">
        <strong data-bind="text: name"></strong>
        
        <span class="video-preview-uploadedby">Uploaded by: <span data-bind="text: authorName"></span></span>
        <span class="video-preview-views">12345 views</span>
        <span class="video-preview-date" data-bind="text: addedAgo"></span>
    </div>

    <div class="clearfix visible-xs-block"></div>
</div>