@{
    ViewBag.Title = "Home Page";
    ViewBag.RequireJsMain = "app/index";
}

@section htmlhead
{
    <style type="text/css">
        #recent-videos > h2, #my-videos > h2 {
            font-weight: bold;
        }
    </style>
}

<div id="recent-videos">
    <h2>Recently Added Videos</h2>
    
    <video-preview-list params="url: '/videos/recent', pageSize: 8"></video-preview-list>
</div>

@if (User.Identity.IsAuthenticated)
{
    <div id="my-videos">
        <h2>My Videos</h2>
        
        <video-preview-list params="url: '/videos/byuser', pageSize: 4"></video-preview-list>
    </div>
}
