@{
    ViewBag.Title = "Home Page";
}

<h3 class="section-divider" id="recent-videos-header">
    <span><em>Recent</em> Videos</span>
</h3>

<video-preview-list params="url: '/videos/recent'" id="recent-videos-list"></video-preview-list>

@if (User.Identity.IsAuthenticated)
{
    <h3 class="section-divider" id="my-videos-header">
        <span><em>My</em> Videos</span>
    </h3>

    <video-preview-list params="url: '/videos/byuser'" id="my-videos-list"></video-preview-list>
}