@{
    ViewBag.Title = "Home Page";
    ViewBag.RequireJsMain = "app/index";
}

<h3 class="section-divider">
    <span><em>Recent</em> Videos</span>
</h3>

<video-preview-list params="url: '/videos/recent'"></video-preview-list>

@if (User.Identity.IsAuthenticated)
{
    <h3 class="section-divider">
        <span><em>My</em> Videos</span>
    </h3>

    <video-preview-list params="url: '/videos/byuser'"></video-preview-list>
}