<div>
    <!-- Add a Comment -->
    <h3>Add a Comment</h3>
    
    <!-- ko if: isLoggedIn -->
    <p class="alert alert-success" style="display: none" data-bind="visible: newCommentAdded">
        Comment added successfully.  <a href="" data-bind="click: resetForNewComment">Click here</a> to add another.
    </p>

    <form role="form" data-bind="submit: addComment, visible: !newCommentAdded()">
        <div class="form-group">
            <textarea data-bind="value: newComment, valueUpdate: 'input'" class="form-control" rows="3"></textarea>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary" data-bind="disable: addingComment">
                <i class="fa fa-cog fa-spin" style="display: none" data-bind="visible: addingComment"></i> Add Comment
            </button>
        </div>
    </form>
    <!-- /ko -->

    <!-- ko ifnot: isLoggedIn -->
    <p>
        You must <a href="/account/register">register</a> or <a href="/account/signin">sign in</a> to post comments.
    </p>
    <!-- /ko -->

    <!-- View Comments -->
    <h3>Latest Comments</h3>
    <ul data-bind="foreach: { data: comments, as: 'singleComment' }" class="video-comments list-unstyled">
        <li class="clearfix">
            <div class="pull-left text-center">
                <a data-bind="attr: { href: singleComment.userProfileUrl }">
                    <img data-bind="attr: { src: singleComment.userGravatarImageUrl }" class="img-rounded" />
                </a>
            </div>

            <a data-bind="attr: { href: singleComment.userProfileUrl }">
                <span data-bind="text: singleComment.userFirstName"></span> <span data-bind="text: singleComment.userLastName"></span>
            </a>
            <small data-bind="text: singleComment.commentTimestampAgo" class="text-muted"></small><br />

            <span data-bind="text: singleComment.comment"></span>
        </li>
    </ul>
    <button type="button" data-bind="visible: morePagesAvailable, disable: loadingNextPage, click: loadNextPage"
            class="btn btn-default btn-block clearfix">
        <i data-bind="visible: loadingNextPage" class="fa fa-cog fa-spin"></i> Load more comments
    </button>
</div>